{% extends 'base.html' %}

{% block content %}
<div class="container pt-3">
    <h4>Deleted</h4>

    {% if tasks_deleted %}
    <a class="btn text-danger" id="emptyRecycleBin" data-bs-toggle="modal" data-bs-target="#modal_delete">Empty recycle bin</a>
    <div class="modal fade" id="modal_delete" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal_title">Empty recycle bin</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to do this?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" data-bs-dismiss="modal">No</a>
                    <a class="btn btn-success" href="{% url 'empty_recycle_bin'%}">Yes</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <table class="justify-content-center" id="table_deleted">
        <tbody>
            {% for item in tasks_deleted %}
            <tr>
                <td class="w-100">
                    {% if item.is_completed %}
                    <a class="btn btn-light w-100 text-left text-justify text-break" id="completed_{{item.pk}}" href="{% url 'update' item.pk %}?action=is_completed"><del>{{ item.title }}</del></a>
                    {% else %}
                    <a class="btn btn-outline-secondary w-100 text-left text-justify text-break" id="completed_{{item.pk}}" href="{% url 'update' item.pk %}?action=is_completed">{{ item.title }}</a>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-outline-primary" id="archive_{{item.pk}}" href="{% url 'update' item.pk %}?action=is_archived">Archive</a>
                </td>
                <td>
                    <a class="btn btn-outline-info" id="delete_{{item.pk}}" href="{% url 'update' item.pk %}?action=is_deleted">Restore</a>
                </td>
            </tr>
            {% empty %}
            <div class="d-flex m-3">
                <p>0 tasks</p>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}